[submodule "deck"]
	path = deck
	url = git://github.com/imakewebthings/deck.js.git
[submodule "extensions/console-notes"]
	path = extensions/console-notes
	url = git://github.com/mikeharris100/deck.console-notes.js.git
[submodule "extensions/pointer"]
	path = extensions/pointer
	url = git://github.com/mikeharris100/deck.pointer.js.git
[submodule "themes/style/carbon"]
	path = themes/style/carbon
	url = git://github.com/mikeharris100/deck.js-theme-carbon.git
[submodule "themes/transition/cube"]
	path = themes/transition/cube
	url = git://github.com/mikeharris100/deck.js-transition-cube.git
